.blog {
    background-image: url(../assets/blog-header.jpg);
    section {
        background-color: $primary-background-hex;
    }
    .blog-post {
        &__image-container {
            &--shadow-left {
                @include shadow-left;
                position: relative;
                bottom: $container-spacing;
            }
        }
        &__text-container {
            position: relative;
            padding-top: $container-spacing;
            bottom: $container-spacing;
            &--border-left {
                @include border-left;
            }
            &  p:first-of-type {
                padding: $p-spacing;
            }
        }
    }
    .comments {
        &__container {
            @include flex(row);
            flex-wrap: nowrap;
            padding: $p-spacing
        }
        &__image-container {
            width: 25%;
            margin-right: $container-spacing;
        }
        &__text-container p:first-of-type {
            padding-bottom: 1rem;
        }
    }
    .aside {
        &__image-container {
        }
        &__text-container {
            margin: 0 $container-spacing 0 10vw;
            &--highlight {
                background-color: $secondary-background-hex;
            }
        }
    }
}
