$serif: 'Playfair Display', serif;
$sans-serif: 'Roboto', sans-serif;
$yellow-hex: #FDFA69;
$yellow-rgb: rgb(253, 250,105);
$green-hex: #4CEEA7;
$green-rgb: rgb(76,238, 167);
$black-hex: #2C2C2C;
$black-rgb: rgb(44, 44, 44);
$white-hex: #FAFAFA;
$white-rgb: rgb(250, 250, 250);
$mint-hex: #EFFDF3;
$mint-rgb: rgb(239, 253, 243);

// button-hover
// navigation-hover
// navigation-current page