@mixin flex($flex-direction) {
    display: flex;
    flex-direction: $flex-direction;
}
@mixin shadow-right {
    box-shadow: 4rem 4rem $primary-accent-hex;
    margin: 0 4rem 4rem 0,
}
@mixin shadow-left {
    box-shadow: -4rem 4rem $primary-accent-hex;
    margin: 0 0 4rem 4rem;
}
@mixin border-left {
    border-color: $primary-accent-hex;
    border-style: solid;
    border-width: 0 0 0.5rem 0.5rem;
}
@mixin button-style {

}
@mixin button-style-hover {

}

@mixin big-border {
    background-color: $primary-accent-hex;
    padding: 4rem 0 4rem 4rem;
}